In [1]:
import pandas as pd
import numpy as np

In [48]:
servicos = pd.read_excel('BaseServiçosPrestados.xlsx')
servicos.drop(servicos.iloc[:,[4,5]], axis = 1, inplace = True)
display(servicos)

clientes = pd.read_csv('CadastroClientes.csv', sep=';')
#display(clientes)

funcionarios = pd.read_csv('CadastroFuncionarios.csv', sep=';', decimal=',')
#display(funcionarios)

,Codigo do Servico,ID Funcionário,ID Cliente,Tempo Total de Contrato (Meses)
0,OS0001,67,1,14
1,OS0002,17,2,12
2,OS0003,116,4,14
3,OS0004,37,5,8
4,OS0005,130,6,8
...,...,...,...,...
232,OS0233,111,315,4
233,OS0234,124,316,8
234,OS0235,72,317,6
235,OS0236,90,319,14
236,OS0237,22,320,12

In [99]:
#Pré Exercício 1: Readequando os valores numéricos
for row in range(len(funcionarios)):
    for column in range(3, 8):
        if funcionarios.dtypes[column] != 'int64':
            funcionarios.iloc[row, column] = funcionarios.iloc[row, column].replace(',', '.')

In [113]:
funcionarios = funcionarios.astype({'Salario Base':'float', 'Impostos':'float','Beneficios':'float',
                                   'Impostos':'float','VT':'float','VR':'float'})

In [44]:
# Exercício 1
soma = 0
for row in range(len(funcionarios)):
    soma += funcionarios.iloc[row, 3:8].sum() 
    
print('O total gasto com funcionários foi R${:,}'.format(soma))

# Dica, podemos utilziar {:,} para se ter uma vírgula como separador de cada de milhar

O total gasto com funcionários foi R$2,717,493.22

In [46]:
#Exercício 2
quest2 = clientes.merge(servicos)
quest2.drop(quest2.iloc[:,[1,3,4]], axis=1, inplace=True)
quest2.set_index('ID Cliente', inplace=True)

faturamento = sum(quest2.iloc[:,0] * quest2.iloc[:,1]) 

print('O faturamento foi de R${:,}'.format(faturamento))

O faturamento foi de R$5,519,160

In [52]:
# Exercício 3

#Revisar! Eu poderia ter utilizado funcionarios.iloc[:,0].unique() !

l1 = []
l2 = []
l3 = []
#Criando uma lista com o ID de todos os funcionários da empresa
for row in range(len(funcionarios)):
    l1.append(funcionarios.iloc[row,0])

#Criando uma lista com os valores da coluna ID Funcionário do DF de Serviços
for row in range(len(servicos)):
    l2.append(servicos.iloc[row, 2])

# Criando uma lista que contenha, uma única vez, apenas os ID's dos funcionários que fizeram vendas
# Para que não haja repetições, escolhi o comando IN
for id in l1:
    if id in l2:
        if id not in l3:
            l3.append(id)   

# Por fim, obtenho a porcentagem pedida fazendo a razão entre o len de l3 e o len de l1
pct = len(l3) / len(l1)
print(f'O percentual foi de {pct*100}%')

O percentual foi de 76.31578947368422%

In [192]:
funcionarios.iloc[:,0].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,  14,
        16,  17,  18,  21,  22,  23,  24,  25,  26,  27,  28,  29,  31,
        32,  34,  35,  36,  37,  38,  39,  44,  45,  46,  47,  48,  49,
        51,  52,  54,  56,  57,  58,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  76,  77,  78,  79,  80,
        81,  83,  84,  85,  86,  88,  90,  91,  92,  93,  94,  97,  98,
        99, 100, 101, 102, 103, 105, 109, 110, 111, 112, 113, 116, 117,
       118, 119, 121, 122, 123, 124, 125, 127, 129, 130, 131, 132, 133,
       135, 137, 138, 139, 142, 143, 144, 148, 149, 150])

In [53]:
# Exercício 4
funcionarios_ex4 = funcionarios.drop(funcionarios.iloc[:,1:9], axis=1)
servicos_ex4 = servicos.drop(servicos.iloc[:,[0,2,3]], axis=1)
ex4 = servicos_ex4.merge(funcionarios_ex4)
display(ex4.groupby(['Area'])['ID Funcionário'].count()) 

# Outra maneira de se fazer o exercício (value_counts())
ex4['Area'].value_counts()

Area
Administrativo    63
Comercial         44
Financeiro        42
Logística         40
Operações         48
Name: ID Funcionário, dtype: int64

Administrativo    63
Operações         48
Comercial         44
Financeiro        42
Logística         40
Name: Area, dtype: int64

In [35]:
# Exercício 5
funcionarios_ex5 = funcionarios_ex4
funcionarios_ex5.groupby(['Area']).count().rename(columns={'ID Funcionário':'Número de funcionários'})

                Número de funcionários
Area
Administrativo                      26
Comercial                           26
Financeiro                          18
Logística                           21
Operações                           23

In [56]:
# Exercício 6
a = clientes['Valor Contrato Mensal'].mean()
print('O valor é de R${:,.2f}'.format(a))

# Para printar apenas duas casas decimais: utlizar .2f

O valor é de R$2,502.56