In [19]:
def corrige(text):
    text=text.casefold().strip().replace(' ','')
    return text
    
senhas=['edpaPAo-  aomf12','nfppAMO12','nfiewpnpifn101l-','amepla','password']
correcao=list(map(corrige,senhas)) 
correcao

['edpapao-aomf12', 'nfppamo12', 'nfiewpnpifn101l-', 'amepla', 'password']

In [29]:
l=['Amanda','felipe','andre','Muriel']
l.sort(key=str.casefold) #Ordenando elementos de uma lista, independentemente de começarem com maiúscula ou minúscula
l

['Amanda', 'andre', 'felipe', 'Muriel']

In [55]:

f= lambda x: x[1] #Esta função faz sorted reconhecer os values do dicionário como parâmetro para ordenação
from operator import itemgetter #Uma outra maneira seria utilizar itemgetter

produtos={'vinho':50,'abóbora':20,'peito de frango':100,'feijão carioca':75}
dict(sorted(produtos.items(), key=itemgetter(1), reverse=True))
dict(sorted(produtos.items(), key=f, reverse=True))

#produtos_ordenados={produtos[produto]:produto for produto in produtos}
#sorted(produtos_ordenados.items())

{'peito de frango': 100, 'feijão carioca': 75, 'vinho': 50, 'abóbora': 20}

In [79]:
# Uma alternativa para a elaboração de DataFrames ordenados
import operator 
import numpy as np
from operator import itemgetter
import pandas as pd
from pandas import DataFrame, Series
d={'Zenfone':500,'IPhone 9':1300,'Samsung A-10':900,'Motorola Z10':1150,'Nokia':200}
d=dict(sorted(d.items(),key=itemgetter(1)))
print(d)
precos=pd.DataFrame({'Preços':d}, index=d.keys())
precos

{'Nokia': 200, 'Zenfone': 500, 'Samsung A-10': 900, 'Motorola Z10': 1150, 'IPhone 9': 1300}

              Preços
Nokia            200
Zenfone          500
Samsung A-10     900
Motorola Z10    1150
IPhone 9        1300